.flash_notice {
  margin: 0 0 10px;
  padding: 5px 15px;
  background: rgb(237, 251, 216);
  border: 1px solid rgb(191, 222, 132);
  border-radius: 4px;
  color:#64951B;
}

.flash_error {
  margin: 0 0 10px;
  padding: 5px 15px;
  background: #F2DEDE;
  border: 1px solid #EED3D7;
  border-radius: 4px;
  color: #B94A48;
}
