[type="file"], [type='password'], [type='number'], [type='text'], textarea, select {
  background: white;
  border: 1px solid rgb(204, 204, 204);
  padding: 5px 10px;
  border-radius: 4px;
  width: 100%;
  margin: 0 0 12px 0;
}

[type='submit'] {
  @include vertical-gradient(#105884, rgb(19, 79, 117));
  border: none;
  padding: 7px 12px;
  color: white;
  text-transform: uppercase;
  text-shadow: 1px 1px 0 black;
  border-radius: 4px;
  margin: 10px 0 5px;
}

[type='checkbox'] {
  margin-bottom: 15px;
}

textarea {
  width: 100%;
  height: 90px;
}

.fields-full {
  @include column(12);
}

.fields {
  @include column(4);
}

.content-areas {
  @include column(8);
}

:focus { 
  outline: none;
}

.sections .item {
  background: rgb(247, 247, 247);
  padding: 10px;
  margin-bottom: 10px;
  overflow: hidden;
  border-radius: 5px;
  box-shadow: 1px 1px 0 rgb(204, 204, 204);
}

.error_messages {
  color: white;
  padding: 10px;
}

.field_with_errors {
  color: rgb(208, 47, 0);
  .message {
    position: relative;
    top: -10px;
    float: right;
  }
}
