#nav {

  &.nav-open {
    overflow-y: scroll;
    a {
      opacity: 1 !important;
    }
  }
  margin:0 0 0 0;

  height:100%;
  width:191px;
  overflow-y: hidden;
  overflow-x: auto;

  position: absolute;

  @include vertical-gradient(#1973a8, rgb(26, 97, 141));

  color:#fff;

  ul { margin:0; }

  /*.sub-nav{ display:none; }*/

  .item {
    margin:0;
    color: #fff;
    text-shadow: black 1px 1px 1px;
    padding: 11px 30px;
    border-top: 1px solid #1D7BB2;
    border-bottom: 1px solid #125884;
    box-shadow: 0 0 2px rgba(0,0,0,0.3);
    /*text-indent:-500px;*/

    a {
      color: #fff;
      font-size: 15px;
      text-decoration: none;
    }

    &.section {
      cursor:pointer;
      position:relative;
      padding:15px 7px ;
      border-top:1px solid #136291;
      border-bottom: 1px solid #0A4062;

      @include vertical-gradient(#105884, rgb(19, 79, 117));

      .label {
        font-size: 14px;
        text-transform: uppercase;
        font-weight: 600;
        text-shadow: 1px 1px 0 rgb(26, 102, 148);
        color: rgb(10, 64, 98);
        margin-left: 50px;
      }

    }
  }
  .nav-cap {
    position: relative;
    padding: 5px 7px;
    border-top: 1px solid rgb(19, 98, 145);
    border-bottom: 1px solid rgb(10, 64, 98);

    @include vertical-gradient(rgb(16, 88, 132), rgb(19, 79, 117));
  }

}
.main-wrap.nav-open {
}
