.section-title {
  width: 80%;
}

.section-additional-data {
  display: none;
}

.section-data-more {
  font-size: 13px;
  text-transform: uppercase;
  color: rgb(68, 68, 68);
  font-weight: 600;
  text-shadow: 1px 1px white;
  line-height: 42px;
  padding: 0 7px;
}
