/ asynchronous analytics code; change UA-XXXXX-X to your own code
/ this can also be placed in the <head> if you want page views to be tracked quicker
:javascript
  var _gaq = [['_setAccount', 'UA-31668531-1'], ['_trackPageview']];
  (function(d, t) {
  	var g = d.createElement(t),
  		s = d.getElementsByTagName(t)[0];
  	g.async = true;
  	g.src = ('https:' == location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
  	s.parentNode.insertBefore(g, s);
  })(document, 'script');
