- title "Roles"

.sub-header
  .button-bar.clearfix
    .admin-links
      = link_to('new role', new_dust_role_path, :class => 'newfile tip', :title => "New Role")

.content-wrapper
  - @roles.each do |role|
    .index-item
      .clearfix{:style => "float:right"}
        = link_to "", role, :confirm => 'Are you sure?', :method => :delete, :class => 'ui-icon ui-icon-close destroy tip', :title => "Destroy This Item"
      = link_to role.name, edit_dust_role_path(role), :class => 'tip', :title => "Edit This Item"

