%p
  %strong Name:
  = h @contact.name
%p
  %strong Email:
  = h @contact.email

%p
  %strong Phone Number:
  = h @contact.phone unless @contact.phone.nil?
%p{:class => "woah"}
  %strong Message:
  = h @contact.message