#searchbox
  = form_tag dust_contacts_path, :method => 'get' do
    = text_field_tag :search, params[:search], :class => "input-text", :placeholder => 'Search Contacts'
    = image_submit_tag "admin/blank.png", :class => "image-submit"
