- title "Menu"

.sub-header
  .button-bar.clearfix
    -#= render :partial => 'search'
    .admin-links
      = link_to 'new menu', new_dust_menu_path, :class => 'newfile tip', :title => "New Menu"

.content-wrapper
  -#= will_paginate @menus

  - @menus.each do |menu|
    .index-item
      .clearfix{:style => "float:right"}
        = link_to "", menu, :confirm => 'Are you sure?', :method => :delete, :class => 'ui-icon ui-icon-close destroy tip', :title => "Destroy This Item"
      = link_to menu.title.capitalize, edit_dust_menu_path(menu), :class => ' edit tip', :title => "Edit This Item"

  -#= will_paginate @menus
