- @admin_nav = Dust::Menu.find 2
- @admin_nav.active_items.each do |item|
  -#- if permitted_to? :manage, item.controller_name.to_sym
  %li.item.link
    = link_to item.title, item.url #if permitted_to? :manage, item.controller_name.to_sym
