- @contact = Dust::Contact.new
= form_for @contact, :validate => true do |f|
  = f.error_messages
  - Dust.config.contact_fields.each do |field_name|
    = f.input field_name
  .item= f.submit "Submit"