#searchbox
  = form_tag dust_blocks_path, :method => 'get' do
    = text_field_tag :search, params[:search], :class => "input-text", :placeholder => 'Search Blocks'
    -#= image_submit_tag "/assets/admin/preview.png", :class => "image-submit"
