- title @page.meta_title
- description @page.create_description

- content_for :admin do
  = render :partial => 'front_end/page/admin'

- @page.sections.each do |section|
  = render_region section.slug, section.classes
